
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;

}
button {
    cursor: pointer;

}
p, 
h1, 
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;

}
img {
    display: block;
}
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px ;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
body {
    font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color : #FFFFFF ;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
 
border-bottom: 1px solid #e7e9fc;

}

.header-container {
display: flex;
    

}

.header-navigation {
display: flex;
align-items: center;

}
.header-logo {
font-family: "Raleway" ,sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5 ;
    text-transform: uppercase ;
    margin-right: 76px;
    padding: 24px 0;
    

}
.header-logo-color  {
color: #2e2f42;

}
.header-menu-link {
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing : 0.02em;
    color: #2e2f42;
    padding-top: 24px;
  padding-bottom: 24px;
}
.menu-list {

    display: flex;
    gap: 40px;
}


.header-menu-link:hover ,.header-menu-link:focus {
 color: #404BBF;   
}


.header-address {
   font-style: normal; 
   margin-left: auto;
   
}

.header-address-list {
    display: flex;
    gap: 40px;

}

.header-address-item {
   
}

.header-address-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;  
padding-top: 24px;
padding-bottom: 24px;
display: inline-block;
}


.header-address-link:hover, .header-address-link:focus {
color:  #404BBF;

}



.hero {
padding: 188px 0 188px ;

}
.hero-container {
background-color: #2E2F42  ;



}


.hero-title {
    
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center ;
        color: #fff;
        max-width:  496px;
        margin: 0 auto;
        margin-bottom: 48px;
}


.hero-primary-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px ;
}
.hero-primary-btn:hover {

background: #404BBF;
}
.hero-primary-btn:focus {
    background: #404BBF;
}
.features {
padding-top: 120px;
    padding-bottom: 120px;

}
.features-container {


}

.features-list {
    display: flex;
    gap: 24px;
    
}



.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.features-subtitle {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}

.features-item-text {
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
padding: 120px 0 120px;
}
.team-container {
background-color: #F4F4FD ;

}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center ;
        text-transform: capitalize ;
        color: #2e2f42;
        
        margin: 0 auto;
        margin-bottom: 72px;
        
}

.team-list {
    display: flex;
    gap: 24px;
justify-content: center;
}


.team-item {
  background-color: #FFFFFF ;  
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-radius: 0 0 4px 4px;

}




.team-imag {
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
       
}
.team-subtitle-text{
    padding-top: 32px;
    padding-bottom: 32px;
   
    text-align: center;
}
.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-container {
padding: 32px 16px;

}
.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center ;
        text-transform: capitalize ;
        color: #2e2f42;
        margin: 0 auto;
        margin-bottom: 72px
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    
}
.portfolio-subtitle-text {

    padding-top:32px ;
    padding-bottom:32px ;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc ;
     padding-left:16px ;   
}
.portfolio-imag {}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
}
.footer-container {
    padding-top:100px ;
    padding-bottom:100px ;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
        
}

.footer-logo-color {
    
color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}