
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;

}
button {
    cursor: pointer;

}
p, 
h1, 
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;

}
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px ;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
body {
    font-family: "Roboto", sans-serif;
    color: #434455 ;
    background-color : #FFFFFF ;
}
.container {
    width: 320px;
    /* padding: 0 15px; */
    padding: 0 16px;
    margin: 0 auto;
}
.header {
 
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.header-container {
display: flex;
justify-content: space-between;
    

}

.header-navigation {
    
display: flex;
align-items: center;

}
.header-logo {
font-family: "Raleway" ,sans-serif ;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5 ;
    text-transform: uppercase ;
    /* margin-right: 76px; */
    /* padding: 24px 0; */
     padding: 16px 0; 
    

}
.header-logo-color  {
color: #2e2f42;

}
.header-menu-link {
    
    font-size: 16px;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing : 0.02em;
    color: #2e2f42;
    padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
position: relative;
color: #404BBF;
}

.header-menu-link.current::after {
    content:"" ;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
background-color: #404bbf;
border-radius: 2px;
    height: 4px;
}

.header-menu-list {


}

.menu-list {
    display: none;
    /* display: flex; */
    gap: 40px;
}


.header-menu-link:hover ,.header-menu-link:focus {
 color: #404BBF;   
}


.header-address {
    display: none;
   font-style: normal; 
   margin-left: auto;
   
   
}

.menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    
}

.menu-icon-btn {
    display: block;
    fill:#2f2f37 ;
}

.header-address-list {
     display: flex; 
     flex-wrap: wrap; 
    /* gap: 40px; */
    padding: 16px 0;
    
 
}

.header-address-item {
   
}

.header-address-link {
font-weight: 400;
/* font-size: 16px; */
font-size: 12px;
/* line-height: 1.5; */
line-height: 1.17;
/* letter-spacing: 0.02em; */
letter-spacing: 0.04em;
color: #434455;  
 /* padding-top: 24px; 
 padding-bottom: 24px;  */
/* display: inline-block; */
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-address-link:hover, .header-address-link:focus {
color:  #404BBF;

}
.mobile-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

.mobile-menu.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;

}

.container {}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    
        
   
}

.mob-icon-modal-close {
fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    

}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mob-menu-list {
    
}

.mob-menu-item {
  margin-bottom: 40px;  
}

.mob-menu-link {
    
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
}



.mob-address-list {
    
}

.mob-address-item {
    margin-bottom: 24px;
    
}

.mob-address-link {
    font-style: normal;
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
}

.mob-menu-link.current {
position: relative;
    color: #404BBF;
}

.mob-address-link.no-color {
color: #434455;

}

.mob-icon-list {
    display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 24px;
}

.mob-icon-item {
    width: 40px;
    height: 40px;
}

.mob-icon-link {
width: 100%;
 height: 100%;
display: flex;
align-items: center;
justify-content: center;
 border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mob-icon-icon {
fill: #f4f4fd;
}



.hero {
/* padding: 188px 0 188px ; */
padding: 72px 0 72px;
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7) ), url(../images/people-office-mob.jpg) ;
/* max-width: 1440px; */
max-width: 320px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-left: auto;
margin-right: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:2), (min-resotulion:2dppx), (min-resotulion:2dpi) {
.hero { 
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
}
}


.hero-container {




}


.hero-title {
    
        font-weight: 700;
        /* font-size: 56px; */
        font-size: 36px;
        /* line-height: 1.07; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center ;
        color: #fff;
        /* max-width:  496px; */
        max-width: 216px;
        margin: 0 auto;
        /* margin-bottom: 48px; */
        margin-bottom: 72px;
}


.hero-primary-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px ;
    
}
.hero-primary-btn:hover {

background: #404BBF;
}
.hero-primary-btn:focus {
    background: #404BBF;
}
.features {
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;

}
.features-container {


}

.features-list {
     display: flex; 
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    
}



.features-item {
    /* width: calc((100% - 3 * 24px) / 4); */
    width: 100%;
}

.icon-features-icon {
  display: none;  
      /* display: flex;  
     align-items: center;
        justify-content: center;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 112px;
        gap: 24px;
        margin-bottom: 8px;  */
        
        
}

.icon-features {
    
}



.features-subtitle {
    
        /* font-weight: 500; */
        font-weight: 700;
        /* font-size: 20px; */
        font-size: 36px;
        /* line-height: 1.2; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}

.features-item-text {
    
        /* font-weight: 400; */
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
/* padding: 120px 0 120px; */
padding-top: 96px;
padding-bottom:96px ;
background-color: #F4F4FD ;
}
.team-container {

}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center ;
        text-transform: capitalize ;
        color: #2e2f42;
        
        margin: 0 auto;
        margin-bottom: 72px;
        
}

.team-list {
      display: flex;  
    flex-wrap: wrap;
    /* gap: 24px; */
    gap:  72px ;
justify-content: center;
}

.team-icon {
    padding: 32px 0 32px ;
}


.team-item {
  background-color: #FFFFFF ;  
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
border-radius: 0 0 4px 4px;

}
.icon-list {
    display: flex;
    align-items: center;
        justify-content: center;
     gap: 24px;
margin-top: 8px;
    
    }

.icon-item {
    width: 40px; 
    height: 40px; 
    
    
}

.icon-link {
    width: 100%;
    height:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-link:hover {
    background-color:#404BBF ;



}

.icon-link:focus {
background-color: #404bbf;


}
.icon-icon {
    fill: #f4f4fd;
    
}



.team-imag {
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
       
}
.team-subtitle-text{
    padding-top: 32px;
    text-align: center;
}
.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
}

.portfolio {
    /* padding: 120px 0 120px 0; */
    padding-top: 96px;
        padding-bottom: 96px;
}

.portfolio-container {


}

.portfolio-item-text {
position: absolute;
top: 0px;
color: #f4f4fd;
background-color: #4d5ae5; 
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center ;
        text-transform: capitalize ;
        color: #2e2f42;
        margin: 0 auto;
        margin-bottom: 72px
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 48px 24px; */
    gap: 48px;
}

.portfolio-item {
/* width: calc((100% - 48px) / 3); */
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

  /* .portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}   */

.portfolio-item:hover .portfolio-item-text{
transform: translateY(0);
} 


.portfolio-subtitle-text {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc ;
    padding: 32px 16px;
}
.portfolio-imag {}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
    
    
}
.footer-container {
    /* padding-top:100px ;
    padding-bottom:100px ; */
   padding-top: 96px;
   padding-bottom: 96px;

    
}
.container-footer {
    flex-wrap: wrap;
      display: flex; 
     /* align-items: baseline ;   */
    justify-content: center;
        align-items: center;
        text-align: center;
    
}
.footer-logo {
    
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block; 
        margin-bottom: 16px;
        
        
        
}

.footer-logo-color {
    
color: #f4f4fd;

}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    /* max-width: 264px; */
max-width: 288px;
margin: 0 auto;
text-align: left;


}

.footer-logo-text {
    
  margin-bottom: 72px;      

/* margin-right: 120px ; */

}



.footer-media {
    font-weight: 500 ;
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

}

.icon-team {
    
    max-width: 208px;
}

.footer-icon-link {

width: 100%;
    
}

.footer-media {

    margin-bottom: 16px;
}
.icon-footer {

}
.footer-icon-item {
transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.icon-list-footer {
 display: flex; 
 gap: 16px;  
 margin-bottom: 72px;
}


.footer-icon-link:hover {
    background-color: #31D0AA;
}

.footer-icon-link:focus {
background-color: #31D0AA;
}

.footer-form {
    flex-wrap: wrap;
     display: flex;
    gap:24px ;
   
    
}



.footer-input {
border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px ;
    line-height: 2;
    letter-spacing: 0.04em;
     padding-left: 16px; 
    color: #ffffff;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
}

.submit-footer {
    fill:#fff ;
     margin-left: 16px; 
 
}

.footer-input::placeholder {

    color: #ffffff;
}

.footer-subscribe {
   
 margin-left:  auto;  
 
}

.subscribe-text {
margin-bottom: 16px;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
color: #fff;
}

.footer-btn {
    display: flex;
        align-items: center;
        justify-content: center;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 165px;
     padding: 8px 24px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}


.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.backdrop.is-open {
opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.modal {
/* width: 408px;
min-height: 584px; */
width: 288px;
min-height: 623px;
background-color: #fcfcfc;
border-radius: 4px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
position: absolute;
top: 50% ;
left: 50% ;
transform: translate(-50%, -50%);
/* padding: 72px 24px 24px; */
padding: 72px 16px 16px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0;
     margin-bottom: 24px; 
    cursor: pointer;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}

.icon-modal-close {
    fill: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {

background-color: #404bbf;
border: none;

}

.modal-close-btn:hover .icon-modal-close {
fill:#fff ;

}

.modal-close-btn:focus .icon-modal-close {
fill: #fff;

}


.modal-subtitle {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    
}

.modal-field {
   margin-bottom: 8px;  
    
}

.form-label {
display: block;
margin-bottom: 4px;
font-size: 12px;
line-height: 1.17;
 letter-spacing: 0.04em;
color: #8e8f99;
    

}


.custom-class {
display: inline-flex;

}


.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        padding-right: 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-input:focus { 
   border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.input-wrapper {
    position: relative;
    margin-top: 4px;
    
}

.modal-wrapper {
  margin-bottom: 16px  
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-comment::placeholder {
border-color: #4D5AE5;
   

}

.modal-comment:focus {
border-color: #4D5AE5;
}


.modal-comment {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-check-text {
        display: flex; 
        align-items: center;
        /*  */
font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
    }

    .privacy-link {
        flex-shrink: 0;
    }


    .checkbox-modal {
margin-bottom: 24px;

    }

 .modal-check-text .moda-privacy-link   {
    width: auto;
        /* Пример: измените ширину */
        height: auto;
        /* Пример: измените высоту */
        border: none;
        /* Уберите границу */
        margin-right: 0;
        border: none;
        display: block;
        
}

  .modal-check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

margin-right: 8px;
}

  /* .modal-check:checked + .modal-check-text span {
background-color: #404BBF;
fill: #f4f4fd;

  } */

  input:checked+label>span {
    background-color: #404BBF;
    fill: #f4f4fd;
    border: none;
  }


  .footer-underlining {
line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
        color: #4d5ae5;
  }

  .footer-send-btn {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 24px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  }


  @media screen and (min-width:768px) {
.container {
width: 768px;


}

.menu-btn {
    display: none;

}

.header-container {
     height: 72px; 
}

.menu-list {

    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
margin-right: 120px;
 padding: 24px 0; 
 display: block;

}

.header-address {
    display: block;
    font-style: normal ;
   
    
}

.header-address-list {
display: flex;
flex-direction: column;
gap: 12px;
 

}

.mobile-menu {
    display: none;
}

.hero {
padding: 112px 0 112px;
max-width: 768px;
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resotulion:2dppx),
(min-resotulion:2dpi) {
.hero {
 background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
    }
}


.hero-title {
font-size: 56px;
line-height: 1.07;
max-width: 496px;
margin-bottom: 36px;
}

.features-list {
gap: 72px 24px;

}

.features-item {
width: calc((100% -  24px) / 2);

}



.team-list {
gap: 64px 24px;

}

.portfolio-list {

gap: 72px 24px;


}

.portfolio-item {
width: calc((100% - 24px) / 2);
box-shadow: none;

}

   .portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}  

  .container-footer.override {
    align-items: flex-start;
        
        text-align: left;
}  

.footer-text {
max-width: 264px;

}

.container-footer {
justify-content: flex-start;
    gap: 72px 24px;
    padding: 0 108px;
}

.footer-logo-text {
margin-bottom: 0;

}

.footer-input {
 width: 264px; 
}

.footer-subscribe {

   margin: 0;
    
   
}
.footer-form {

}

.modal {
width: 408px;
min-height: 584px;
padding: 72px 24px 24px;

}

.modal-check-text {
    
    
}

  }

  @media screen and (min-width: 1158px) {
.container {
        width: 1158px;
        padding: 0 15px;
       
    }

.header-logo {
margin-right: 76px;
 padding: 24px 0;

}
.menu-list {
    display: flex;
    gap: 40px;
}

.header-address {
display: flex;
font-style: normal;

}

.header-address-list {
flex-direction: column; 
gap: 40px;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
 

}

.header-address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
display: inline-block;


}

.hero {
padding: 188px 0 188px;
max-width: 1440px;
background-color: #2E2F42;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg)
}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resotulion:2dppx),
(min-resotulion:2dpi) {
.hero {
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}


.hero-title {
margin-bottom: 48px;

}

    .features {
    padding-top: 120px;
    padding-bottom: 120px;
            
        }

     .features-list {
     gap: 24px;


     }

   .features-item {
    width: calc((100% - 3 * 24px) / 4);
        
   }
.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.features-item-text {
font-weight: 400;

}

.icon-features-icon {
display: flex;
align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 112px;
    gap: 24px;
    margin-bottom: 8px;
}

.team { 
 padding: 120px 0 120px;
}

.team-list {
gap: 24px;

}

.portfolio {
padding: 120px 0 120px 0;
}
  
.portfolio-list {
gap: 48px 24px;

}

.portfolio-item {
width: calc((100% - 48px) / 3);

}

.footer-container {
    padding-top:100px ;
    padding-bottom:100px ;



  }


  .footer-subscribe {
    margin-left: auto;
  }

.container-footer {
align-items: baseline;
padding-left: 15px;
padding-right: 15px;
gap: 0;
}

.footer-logo-text {
margin-right: 120px;
}



}